<!DOCTYPE html>
<html>

<head>
  <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
</head>
<body ng-app>

    <div id="header">
      <h1>Hannah Mills</h1>   
      <h2>Junior Web Developer</h2>   
    </div>

      <div ng-controller="contactController" id="contact">
      <img src="image/telephone_tape.jpg" id="telephone" ng-click="hide">
        <div id="hide">
            {{address}}<br/>
            {{tel}}<br/>
            {{email}}
        </div>    
      </div>
      

      
  <h2>Education</h2>
    <div ng-controller="gaController" id="ga">
    
        {{dates}}<br/>
        {{school}}<br/>
        {{qualification}}
        <hr width="25%" align="left">

    <div ng-controller="universityController" id="uni">
      {{dates}}<br/>
      {{school}}<br/>
      {{qualification}}
    </div>  
</div>

  <div ng-controller="careerController">
      <h2>{{title}}</h2>
        <div id="andiamo">
          {{dates}}<br/>
          {{position}}<br/>
          {{company}}<br/>
          {{more}}
        </div>
      

  <!-- Insert "more" hyperlink to take client through to complete info -->    

      <div ng-controller="selfStudyController" id="self_study">
      {{dates}}<br/>
      {{position}}<br/>
      {{more}}
      </div>

      <div ng-controller="btgController" id="btg">
      {{dates}}<br/>
      {{position}}<br/>
      {{company}}<br/>
      {{more}}
      </div>
      
      <div ng-controller="bbcController" id="bbc">
      {{dates}}<br/>
      {{position}}<br/>
      {{company}}<br/>
      {{more}}
      </div>
      
      <div ng-controller="angelsController" id="angels">
      {{dates}}<br/>
      {{position}}<br/>
      {{company}}<br/>
      {{more}}
      </div>
      
      <div ng-controller="bbcwwController" id="bbcww">
      {{dates}}<br/>
      {{position}}<br/>
      {{company}}<br/>
      {{more}}
      </div>
      
      <div ng-controller="caseController" id="case">
      {{dates}}<br/>
      {{position}}<br/>
      {{company}}<br/>
      {{more}}
      </div>

 

</div>





<!--   <div ng-controller="AboutMeController">
      <nav>
        <ul>
            <li ng-repeat="section in sections | orderBy: 'title'" ng-click="selectSection(section)">
            {{ section.title }}
            </li>
        </ul>
      </nav>

    <section ng-show="selectedSection">
       <h2>{{selectedSection.title}}</h2>
       <table>
          <tr>
            <td>{{selectedSection.address}}</td>
          </tr>
          <tr>
            <td>{{selectedSection.tel}}</td>
          </tr>
       </table>
     </section> -->

<!--       *********Education**********     
 -->
<!--   <div ng-controller="EducationController">
      <nav>
        <ul> -->
            <!-- <li ng-repeat="education in educations | orderBy: 'title'" ng-click="selectEducation(education)"> -->
            <!-- {{ education.title }} -->
 <!--            </li>
        </ul>
      </nav>

    <section ng-show="selectedSection">
       <h2>{{selectedEducation.title}}</h2>
       <table>
          <tr>
            <td>{{selectedEducation.school}}</td>
          </tr>
          <tr>
            <td>{{selectedEducation.qualification}}</td>
          </tr>
       </table>
     </section>   -->    





          <!-- <tr>
            <td>{{selectedSection.dates}}</td>
          </tr>
          <tr>
            <td>{{selectedSection.school}}</td>
          </tr>
          <tr>
            <td>{{selectedSection.qualification}}</td>
          </tr>

          <tr>
            <td>{{selectedSection.dates2}}</td>
          </tr>
          <tr>
            <td>{{selectedSection.school2}}</td>
          </tr>
          <tr>
            <td>{{selectedSection.qualification2}}</td>
          </tr>

          <tr>
            <td>{{selectedSection.dates3}}</td>
          </tr>
          <tr>
            <td>{{selectedSection.position}}</td>
          </tr>
          <tr>
            <td>{{selectedSection.company}}</td>
          </tr>

          <tr>
            <td>{{selectedSection.dates4}}</td>
          </tr>
          <tr>
            <td>{{selectedSection.position2}}</td>
          </tr> -->

        
       



    <!-- **************Education details************ -->

    <!-- <div ng-controller="EducationController">
          <nav>
            <ul>
                <li ng-repeat="education in educations | filter : {title: search} | orderBy: 'title'" ng-click="selectEducation(education)">
                {{ education.title }}
                </li>
            </ul>
          </nav>
     </div> -->     
       

    <!-- <section ng-show="selectedEducation"></section>
    <h2>{{selectedEducation.title}}</h2>   
          <table>  
                <tr>
                  <td>{{selectedEducation.dates}}</td
                </tr>
                <tr>
                  <td>{{selectedEducation.school}}</td>
                </tr>
                <tr>
                  <td>{{selectedEducation.qualification}}</td>
                </tr>
          </table>  
     </section>    -->

    <!-- **************Career details************ -->

    

        <hr width="100%" align="center" color="#63bd9f" size="1px">

    <!-- ********** Intro paragraph *********** -->
         <section id="landing_paragraph" ng-hide="selectedSection">
             <p>Web developer with initial experience in full stack development, I have a particular interest in front-end development with Javascript, Angular.js, HTML and CSS. 

            After working for a several years in marketing, media and team coordinating roles, I set myself the challenge to become a web developer in a period of a year. I’m a good communicator and have a lot of experience in project planning and working in multi-disciplinary teams.

            Technologies I have worked with: Javascript, Node.js, Angular.js, Git, github.com, Ruby on Rails, HTML, CSS, Wordpress, Balsamiq, Heroku.</p>
        </section>
      <!-- ***************************************** -->
  </div>

</body>
</html>       